/* styles.css */
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

input, button {
  width: 100%;
}

button {
  margin-top: 10px;
}

#cameraList ul {
  list-style: none;
  padding: 0;
}

#cameraList ul li {
  background-color: #e9ecef;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
